[submodule "Coyote"]
	path = Coyote
	url = https://github.com/fpgasystems/Coyote.git
[submodule "balboa_dpi"]
	path = balboa_dpi
	url = https://github.com/fpgasystems/AMD-OHC-2024.git
[submodule "recommender_preprocessing"]
	path = recommender_preprocessing
	url = https://github.com/Arith2/Coyote_PipeRec.git
